<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

    <%= f.fields_for :shipping_addresses do |ship_form| %>
      <p>
        <%= ship_form.label :city %>
        <%= ship_form.text_field :city %>
      </p>

      <p>
        <%= ship_form.label :country %>
        <%= ship_form.text_field :country %>
      </p>
    <% end %>

  <%= f.submit  %>

<% end %>