<tr>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</tr>
  <tr>
    <td>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </td>
    <td>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </td>
    <td>
      <%= f.label :email_confirmation %>
      <%= f.text_field :email_confirmation %>
    </td>
  </tr>
  <%= f.fields_for :shipping_addresses do |ship_form| %>
    <tr>
      <td>
        <%= ship_form.label :city %>
        <%= ship_form.text_field :city %>
      </td>
      <td>
        <%= ship_form.label :country %>
        <%= ship_form.text_field :country %>
      </td>
    </tr>
  <% end %>  

  <p>
    <%= f.label :agreement %>
    <%= f.check_box :agreement %> </br>
  </p>
  </tr>
  <%= f.submit  %>
<% end %>